/* header */
#header {margin-bottom:15px;}

#header h1 a {
	color: #658A16;
	text-decoration: none
}

#header h1 small {color: #BACE87;}

/* footer */
#footer {
	margin-top: 15px;
	padding: 15px 0px 0px 0px;
	font-size: 95%;
	text-align: center;
	border-top: 2px solid #658A16;
}

#footer a {color: #999;}

/* menu */
#menu {
	margin-top:20px;
	margin-bottom:20px;
	float:left;
	width:100%;
	background-color: #6699CC;
	border:1px solid #CCCCCC;
}

.navbar .nav>li>a{
	font-weight: normal;
	font-size:16px;
	color:#FFF;
}
.navbar .nav>li>a:hover{
	font-weight: normal;
	font-size:16px;
	color:#FFF;
}
.navbar .nav>.active>a{
	font-weight: normal;
	font-size:16px;
	background-color:#6699CC;
	color:#66CC66;
}

body{
	font-family: '微软雅黑';
}